* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arimo', sans-serif;
}
header {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #3064a4;
}
#menu {
  width: 80%;
  height: 5vh;
  margin: 0 auto;
}
#logo img {
  height: 60px;
}
.nav {
  width: 30%;
}
.nav .link {
  text-decoration: none;
  color: white;
  display: inline;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 1%;
}
.nav .link:hover {
  color: orange;
}
#logo {
  position: relative;
}
#logo .nav_left {
  position: absolute;
  top: 50%;
  left: 10%;
}
#logo .nav_right {
  position: absolute;
  top: 50%;
  right: 0;
}
.btn {
  text-decoration: none;
  color: white;
  display: inline;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 0.8em;
}
.btn_empty {
  padding: 3% 5%;
  border: 1px solid white;
}
.btn_empty:hover {
  background-color: #a0c62e;
  color: orange;
}

.btn_filled {
  padding: 3% 5%;
  background-color: #a0c62e;
}
.btn_filled:hover {
  color: orange;
  border: 1px solid white;
}

#banner .banner_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 35vh;
}
#banner .banner_text {
  position: absolute;
  bottom: 50%;
  left: 10%;
  font-size: 1.5em;
  color: white;
}

.btn_big {
  position: absolute;
  bottom: 35%;
  left: 10%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 0.8em;
}
.btn_big_filled {
  background-color: #a0c62e;
  padding: 1%
}
.btn_big_filled:hover {
  color: orange;
  border: 1px solid white;
}

.slider {
  width: 100%;
  height: 18vh;
  background-color: lightgrey;
  text-align: center;
  padding: 2% 0;
}
.slider h3 {
  margin: 1.5%;
  color: grey;
}




#info {
  margin: 0 1%;
  padding: 40px 8%;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

#info::after {
  content: '';
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
  background-color: white;
}
.column img {
  height: 200px;
  margin: 5%;
}
.column h2 {
  text-transform: capitalize;
  margin: 5%;
  font-size: 2rem;
  color: #a0c62e;
}

.column hr {
  width: 20%;
  margin: 15% auto;
  color: grey;
}

.column p {
  font-size: 1.2rem;
  color: grey;
}





.horizzontal_content {
  position: relative;
  width: 80%;
  height: 30vh;
  margin: 20px auto;
  background-image: url('../img/mountain.svg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 25% 70%;
  background-color: white;
}

.horizzontal_content_text {
  position: absolute;
  top: 25%;
  right: 30%;
}
.horizzontal_content_text h1 {
  font-size: 2rem;
  padding: 3%
}
.horizzontal_content_text p {
  font-size: 1rem;
  margin: 4%;
}
.horizzontal_content_text small {
  font-size: 0.8rem;
  text-decoration: underline;
  color: darkcyan;
  margin: 4%;
}


footer {
  padding: 3rem 2rem;
  height: 10vh;
  width: 100%;
  background-color: lightgrey;
}

.footer_wrapper::after {
  content: '';
  display: table;
  clear: both;
}
.footer_wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.footer_text h1 {
  float: left;
  font-size: 2rem;
  padding: 0 3%;
}

.footer_fake_menu a {
  float: right;
  text-decoration: none;
  color: white;
  padding: 0.9%;
  border-radius: 5px;
  font-size: 0.9rem;
}
